@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    list-style:none;
    color:#fff;
}

/* ---------------------shared style------------------------------- */

.flex{
    display:flex;
    align-items:center;
}

p{
    color:#fff;
    opacity: 0.3;
    font-size:.9rem;
    font-weight:400;
    letter-spacing:.03px;
    line-height:1.5rem;
}

h1{
    font-size:3rem;
    font-weight:900;
    line-height:120%;
}

h3{
    font-size:2rem;
    font-weight:700;
    line-height:120%
}

h4{
    font-size: 1.125rem;
    font-weight:600;
    line-height:120%;
}


.primary-btn{
    padding:1rem 3rem;
    background: #e6533c;
    border-radius:3rem;
    border:none;
}

.primary-btn a{
    font-size:1.125rem;
    font-weight:600;
    line-height: 1.4rem;
}

main{
    background:#000;
    max-width:1440px;
    margin:0 auto;
    position:relative;
}


main section{
    max-width:1040px;
    margin:0 auto;
    padding:50px 0;
    background: #000;
}

.main-title{
    text-align:center;
    width:625px;
    margin:0 auto;
    margin-bottom:58px;
}
.main-title .heading{
    margin-bottom:1rem;
}

/* ----------------------header-seciton---------------------------------------- */

.header{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(29, 29, 31) 55%, rgba(0,0,0,1) 100%);
}

.bar{
    font-size:2rem;
    display:none;
}

.header > div{
    max-width:1440px;
    margin:0 auto;
}

.header .navbar{
    padding:57px 13%;
    justify-content:space-between;
}

.header .nav-menu{
    gap:3rem;
    border-radius:2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: .2rem 1rem .2rem .3rem;
}


.navbar .logo{
    color:#e6533c;
    font-size:2.2rem;
    font-weight:800;
    line-height:120%;
    font-style: italic;
}

.navbar .nav-menu li{
    font-size:1.1rem;
    font-weight:600;
    line-height:1.4rem;
}

.navbar .nav-menu li:first-child{
   background:#e6533c;
   padding: .5rem 1.2rem;
   border-radius:2.8rem;
}


/* banner-section */
.banner{
    justify-content:center;
    gap: 7rem;
    padding-bottom:0rem;
}

.banner h1{
    font-size:4.9rem;
    margin-bottom:1.8rem;
}

.banner p{
    font-size:1rem;
    line-height:1.5rem;
    margin-bottom:1.7rem;
}

.banner-details{
    width:43%;
}

.banner .banner-des{
   max-width:470px;
}

.banner-details .download-btn{
    margin-left:.8rem;
    border:1px solid #fff;
    background: #111;
}

.banner .banner-details .shape{
  font-family: 'Miama', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9rem;
}

.banner-image{
    position:relative;
}

.img-bottom{
    height:6rem;
    width:13rem;
    display:flex;
    border-radius:.8rem;
    gap:1rem;
    justify-content:center;
    align-items:center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position:absolute;
    right: 250px;
    bottom:72px;
}

.banner-image .img-bottom .circle{
    height:2.5rem;
    width:2.5rem;
    border-radius:100%;
    background:#E6533C;
    display:flex;
    align-items:center;
    justify-content:center;
}

.banner-image .img-bottom .circle img{
    height:1.2rem;
    width:1.2rem;
    margin-left:.2rem;
}

.bottom-dtls{
    margin-top:1.7rem;
}

.times{
    color:rgb(250, 250, 249);
    font-size:1.5rem;
    font-weight:900;
    line-height:1.5rem;
    letter-spacing:0.3px;
    margin-bottom:.5rem;
}


.img-top{
    height:6rem;
    width:12rem;
    padding:0 .8rem;
    border-radius:.8rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position:absolute;
    right: -55px;
    top:115px;
}

.times1{
    color:rgb(250, 250, 249);
    font-size:2.5rem;
    font-weight:900;
    line-height:1.5rem;
    letter-spacing:0.3px;
    margin-bottom:.8rem;
}

/* --------------------habit-section------------------------------- */  

.habit-section{
    padding-top:6rem;
}
.habit-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
}
.habit-container .single-habit{
    text-align:center;
    padding:.8rem;
}

.habit-container .single-habit img{
    border-radius:50%;
    border:1px solid #eee;
}

.habit-container .single-habit h4{
    margin:1.8rem 0 .5rem 0;
}

/* -------------run-section------------------------------ */
.run-area{
    display:flex;
    gap:15rem;
    justify-content:center;
    border-radius: 1.125rem;
    background: #222222;
    padding:2rem;
}
.run-section .run-image img{
    width:366px;
    height:312px;
    border-radius:1.125rem;
}

.run-section .run-details{
    width:38%;
}


.run-section .run-details p{
    margin: .9rem 0 1.8rem 0;
}

/* -------------------physiologists-section----------------------------- */
.physiologists-section .physiologists-area .physiologists-container{
    background:#222222;
    border-radius:1rem;
}
.single-physiologists,
.single-physiologists2{
    justify-content:center;
    gap:12rem;
    margin:4rem 0 0 0;
    padding:1.5rem 0;
}

.single-physiologists .physiologists1-dtls,
.single-physiologists2 .physiologists1-dtls{
    width:42%;
    display:flex;
    flex-direction: column;
    gap:2rem;
    text-align:left;
}

.physiologists1-dtls.card2 {
    text-align: right;
}

.single-physiologists .physiologists-card,
.single-physiologists2 .physiologists-card{
    border: 1px solid #454242;
    border-radius:1rem;
    padding:1rem;
    text-align:center;
}

.single-physiologists .physiologists-card h3,
.single-physiologists2 .physiologists-card h3{
    font-size:2rem;
    margin-top:1rem;
}

.single-physiologists .physiologists-card .physiologists-img img,
.single-physiologists2 .physiologists-card .physiologists-img img{
    border-radius:50%;
    height:35%;
    width:35%;
    border:.3rem solid #e6533c;
}

.physiologists-card .title{
    margin:1rem;
    color: rgba(255, 255, 255, 0.5);
}

.media-icon{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
    margin-bottom:1rem;
}


.physiologists-img{
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
}

.media-icon li{
    height:2rem;
    width:2rem;
    background-color: #E6533C;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    cursor: pointer;
}

#fb{
    background:rgb(13, 65, 223);
}

#ins{
    background: #c31c03;
}

#twi{
    background: rgb(5, 222, 241);
}

#ytube{
    background: rgb(246, 2, 2);
}

.mes-btn{
    background:none;
    border:1px solid #454242;
    padding:.7rem 2rem;
}

.sub-btn{
    padding:.7rem 2rem;
    margin-right:1rem;
}

.mes-btn a{
    color: #fff;
}

.phy-btn{
    padding:1.2rem 1.5rem;
    width:11rem;
}

/*---------------------- Traninings-section------------------------------ */
.train-area .train-title{
    text-align:left;
    max-width:640px;
    margin-bottom:2rem;
}

.train-area .train-title p{
    max-width:540px;
}

.train-area .train-title h1{
    margin-bottom:.5rem;
}


.train-section .train-area .train-container > div{
   width:100%;
   position:relative;
   z-index:1;
}

.train-section .train-area .train-container > div .opacity{
  position:absolute;
  width:100%;
  height:250px;
  background: rgb(255, 0, 0);
  top:0;
  opacity: 0.3;
  margin-bottom:0px;
  z-index: 2;
}

.train-section .train-area .train-container > div .opacity p{
  opacity:100%;
  color:#fff;
  font-size:1.5rem;
  margin-top:9rem;
  margin-left:2rem;
}

.train-section .train-area .train-container > div img{
   width:100%;
   height:250px;
}
.train-section .train-area .train-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
}

#exer-1{
    background:rgba(0, 242, 255, 0.818);
}

#exer-3{
    background:none;
  
}

#exer-4{
    background:none;
}

#exer-5{
    background:#07d54f;
}

#exer-6{
    background:#021ff9;
}

/* -----------------BMI - section----------------------- */

.bmi-section{
    background: #222222;
    max-width:1440px;
    margin:0 auto;
}

.bmi-container{
    justify-content:center;
    align-items: start;
    gap: 10rem;
}

.bmi-section .main-title{
    text-align:left;
    background: #000;
    width: 100%;
    padding: 2rem 27%;
    margin-top:0;
    margin-top:-3.2rem;
    padding-bottom:4rem;
}


.bmi-left-table table{
   border-collapse: collapse;
   margin-right:1rem;
}

.bmi-left-table td,th{
    border: 1px solid #454242;
    opacity: 0.5;
    padding:1.5rem;
    text-align:left;
}

.bmi-left-table table th{
    opacity: 100%;
}


.bmi-left h3{
    margin-bottom:2.5rem;
}

.bmi-right .right-title{
    margin-bottom:2rem;
}


.bmi-right-form input, select{
    width:100%;
    padding:1rem .5rem;
    border-radius:.3rem;
    background: #393939;
    border:none;
    outline: none;
    border-right:.5rem solid #393939;
}

.bmi-right-form select{
   color:#6a716c;
}

.bmi-right-form select option{
   color:#b0b0b0;
}

.bmi-right-form .height-weight, .age-gender{
    display:flex;
    gap:.5rem;
    margin:1rem 0;
}

.bmi-btn{
    margin-top:2rem;
    padding:.8rem 3rem;
}

/* ---------------------------team-section------------------------- */
.team-section .team-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
    background:#222222;
    padding:2rem;
    border-radius:1.5rem;
}


.single-team .single-img {
    border-radius:1.5rem;
    height:280px;
    position:relative;
}

.single-team .single-text {
    position:absolute;
    top:220px;
    left:25px;
}

.single-team .single-img img{
    height:100%;
    width:100%;
    border-radius:1.5rem;
}

/* ------------------footer-section-------------------------- */
.footer{
    background: #1a1a1a;
    padding:7rem 9%;
}

.footer-section{
    justify-content:center;
    gap:6rem;
    align-items:start;
}

.get-started{
    margin-bottom:2rem;
}

.footer-section li{
    margin-bottom:1rem;
    font-size:1.5rem;
    opacity: 0.5;
}

.footer-logo{
    width:48%;
}

.footer-logo .logo{
    font-size:4rem;
    margin-bottom:2rem;
    color: #e6533C;
    font-style:italic;
}

.footer-logo p{
   font-size:1.2rem;
   line-height:2rem;
}

hr{
    margin:3rem 0;
    opacity:0.5;
}



/* -------------------Responsive for Mobile here--------------------- */

@media screen and (max-width:576px) {

    /* -------------nav-bar-------------- */

    .navbar .nav-menu{
        display:none;
    }

    .bar{
        display:block;
    }

    .header .navbar{
        padding:2.5rem 7%;
    }

    /* -----------banner-area------------ */
    .banner{
        flex-direction:column;
        gap:3rem;
    }
     
    .banner h1{
        font-size:3rem;
        margin-bottom:1.8rem;
    }
    .banner .banner-des{
       max-width:100%;
    }

    .join-btn,
    .banner-details .download-btn{
        width:47%;
        padding:1rem .5rem;
    }

    .join-btn a,
    .banner-details .download-btn a{
        font-size:1rem;
    }
    
    .banner .banner-details{
        width:90%;
    }
    
    .banner .banner-details .shape{
      font-size: 3rem;
    }
    
    .img-bottom{
        height:5rem;
        width:9rem;
        right: 200px;
    }
    
    .banner-image .img-bottom .circle{
        height:2rem;
        width:2rem;
    }
    
    .times{
        font-size:1.2rem;
        line-height:1rem;
        margin-bottom:.2rem;
    }
    
    .img-top{
        height:5rem;
        width:8.5rem;
        right: -10px;
        top:150px;
        display:flex;
        align-items:center;
    }
    
    .times1{
        font-size:2rem;
        margin-bottom:.2rem;
        margin-top:.8rem;
    }

    .bottom-dtls .tutorial{
        font-size:.6rem;
    }

    /* ---team-section---- */
    .main-title{
        width:70%;
    }
    .main-title h1{
        font-size:2rem;
    }
    .team-section .team-container{
        grid-template-columns:1fr;
    }

    /* ----footer-section------ */
    .footer-section{
        display:block;
    }

    .footer-logo{
        width:100%;
        margin-bottom:2rem;
    }

    .footer{
        padding:3rem 3.5%;
    }

    .footer-mid{
        margin-bottom:3rem;
    }

    /* -------bmi-section---------- */
    .bmi-container{
        display: block;
    }

    .bmi-section .main-title{
        padding-left: 2%;
    }
    
    .bmi-left-table td,th{
        text-align:left;
        padding:1rem 2rem;
    }
    
    .bmi-left{
        margin-left:1rem;
        margin-bottom:3rem;
    }
    
    .bmi-right{
        padding:0 4%;
    }

    .bmi-right .description{
        margin-top:2rem;
    }

    /* ------------training--------------------section */
    .train-area .train-title h1{
        margin-bottom:1rem;
        font-size:2.8rem;
    }
    .train-area .train-title{
        padding-left:1rem;
    }
    
    .train-section .train-area .train-container{
       grid-template-columns:repeat(2,1fr);
       padding:0 3%;
    }

    /* ----------------physiologists---------------- */
    .single-physiologists{
        flex-direction:column-reverse;
        gap:3rem;
    }
    
    .single-physiologists2{
        flex-direction:column;
        gap:3rem;
    }

    .single-physiologists .physiologists1-dtls,
    .single-physiologists2 .physiologists1-dtls{
        width:90%;
        text-align:center;
    }

    .physio-btn{
        text-align:center;
    }
    
    /* -------------------run-section----------------- */
    .run-area{
        flex-direction:column;
        gap:3rem;
    }
    .run-section .run-image img{
        width:100%;
    }
    
    .run-section .run-details{
        width:100%;
    }

    .run-section .run-details h1{
        font-size:2.5rem;
    }

    .run-section .run-details .run-btn{
        width:100%;
    }


 /* --------------------habit-section------------------------------- */  

.habit-container{
    grid-template-columns:1fr;
}

.single-habit p{
    padding:0 5rem;
}

.habit-area .heading{
    font-size:1.6rem;
}
}   


/* -------------------Responsive for Tablate here--------------------- */
@media screen and (min-width:576px) and (max-width:992px) {

     /* -----------banner-area------------ */
     .banner{
        flex-direction:column;
    }
     
    .banner .banner-details{
        width:100%;
        padding:0 6rem;
        padding-right:7rem;
    }
    
    .banner .banner-details .shape{
      font-size:5rem;
    }
    
    /* ------team-section-------- */
    .main-title{
        width:70%;
    }
    .main-title h1{
        font-size:2.5rem;
    }
    .team-section .team-container{
        grid-template-columns:repeat(2,1fr);
    }

    /* --------footer-section-------------- */
    .footer-section{
        display:block;
    }

    .footer-logo{
        width:66%;
        margin-bottom:6rem;
    }

    .footer{
        padding:3rem 3.5%;
    }

    .footer-mid{
        float:right;
        margin-right:250px;
    }

    /* -------------bmi-section--------------------- */
    .bmi-container{
        display: block;
    }

    .bmi-section .main-title{
        padding-left: 2%;
    }
    
    .bmi-left-table td,th{
        text-align:left;
        padding:1rem 2rem;
    }
    
    .bmi-left{
        margin-left:2rem;
        margin-bottom:3rem;
    }
    
    .bmi-right{
        padding:0 4%;
    }
    .bmi-right .description{
        margin-top:2rem;
    }

    /* ---------------training-section--------- */
    .train-area .train-title h1{
        margin-bottom:1rem;
        font-size:3rem;
    }

    .train-section .train-area .train-container{
       padding:0 3%;
    }

    .train-area .train-title{
        padding-left:1.5rem;
    }

    /* ----------------physiologists---------------- */
    .single-physiologists,
    .single-physiologists2{
        gap:3rem;
        padding:0 1%;
    }

    /* -------------------run-section----------------- */
    .run-area{
        gap:2.5rem;
        margin:0 1rem;
    }
    
    .run-section .run-details{
        width:50%;
    }

    .run-section .run-details h1{
        font-size:2.5rem;
    }
    
    .run-section .run-details .run-btn{
        width:90%;
    }

    .run-section .run-image img{
        width:100%;
    }

    /* --------------------habit-section------------------------------- */  

    .habit-container{
        grid-template-columns:repeat(2,1fr);
    }

    .single-habit p{
        padding:0 5rem;
    }

    .habit-area .heading{
        font-size:3rem;
    }

    .habit-area .description{
        padding:0 5rem;
    }
        
}   
